.plays {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.play {
  list-style: none;
  min-height: 100px;
  width: 400px;
  border: 1px solid #e4d6bc;
  border-radius: 4px;
  background-color: #e8e4da;
  padding: 0px;
  display: flex;
  flex-direction: row;
  transition: background-color 0.5s ease-out;
}

.play > a {
  color: #1f313c;
  text-decoration: none;
  margin: 0px;
  min-height: 100px;
  width: 400px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  transition: background-color 0.5s ease-out;
}

.play:hover {
  cursor: pointer;
  background-color: #fefefe;
}

.play::after {
  width: 60px;
  height: 80px;
  content: '';
  background-position: 0 28px;
  background-repeat: no-repeat;
  background-image: url('/src/assets/book-closed.svg');
}

.play:hover::after {
  background-repeat: no-repeat;
  background-image: url('/src/assets/book-open-01.svg');
}

.playTitle {
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
}

.playDetailsValues {
  font-weight: bold;
}

.playDetails {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  font-style: italic;
}

.playPoster {
  background-color: #1f313c;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  display: none;
}
