.header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  background-image: url('/src/assets/logo.webp');
  background-size: 100%;
  width: 4rem;
  height: 4rem;
}

.user {
  align-content: center;
  width: 4rem;
  word-wrap: true;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pageTitle {
  color: #1f313c;
  font-size: 2rem;
  margin: 0;
  align-content: center;
}
