.authlayoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex: 1;
}

.container {
  position: relative;
}

.logo {
  position: absolute;
  background-image: url('/src/assets/logo.webp');
  background-size: 100px 100px;
  left: -40px;
  top: -40px;
  width: 100px;
  height: 100px;
}
