.header {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  max-width: 1000px;
  align-self: center;
  position: fixed;
  z-index: 1000;
}

.headerInner {
  height: 4.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  background-color: #f4e9d2cc;
  background-color: #1f313c33;
  background-color: #7b520033;
  backdrop-filter: blur(10px);
  border: 2px solid #e4d6bc;
  border-radius: 0 0 20px 20px;
  border-top: 0;
}

.logoContainer {
  width: 102px;
}

.logo {
  display: block;
  background-image: url('/src/assets/marivo-logo-full.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 102px;
  position: absolute;
  top: 6px;
  left: -4px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-content: center;
  word-wrap: true;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.pageTitle {
  color: #1f313c;
  font-family: 'Lobster Two', sans-serif;
  font-size: 2rem;
  margin: 0;
  align-content: center;
}

.pageTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userContainer {
  font-family: 'Lobster Two', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userActionsMenu {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.userAction {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 4px;
}

.userAction:hover {
  background-color: #1f313ccc;
}

.userActionSettings {
  mask: url('/src/assets/user-circle.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionNotifications {
  mask: url('/src/assets/bell-O3.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionHelp {
  mask: url('/src/assets/help-circle.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.userActionLogout {
  mask: url('/src/assets/log-out-02.svg') no-repeat;
  mask-size: contain;
  background-color: #1f313c;
}

.pageMenu {
  z-index: -1;
}
