.mainContainer {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  gap: 20px;
  flex: 1;
  align-self: stretch;
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
